<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/1.1) 1.0//EN" "i-xhtml_4ja_10.dtd">
<?xml version='1.0' encoding='Shift_JIS' ?>
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
    <meta content="application/xhtml+xml; charset=Shift_JIS" http-equiv="Content-Type">
    <title>じぇいぴぃもばいる</title>
  </head>
  <body>
    <%= yield -%>
  </body>
</html>
