<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>jpmobile - A Rails plugin for Japanese mobile-phones</title>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
  <a href="http://github.com/jpmobile/jpmobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  <div id="container">
    <div class="download">
      <a href="http://github.com/jpmobile/jpmobile/zipball/master"><img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      <a href="http://github.com/jpmobile/jpmobile/tarball/master"><img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    </div>

    <h1>
      <a href="http://github.com/jpmobile/jpmobile">jpmobile</a>
      <span class="small">by <a href="http://github.com/jpmobile">jpmobile</a></span>
    </h1>

    <div class="description">
      A Rails plugin for Japanese mobile-phones
    </div>

    {{ content }}

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/jpmobile/jpmobile">jpmobile/jpmobile</a>
    </div>

  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-166974-8");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
